*

!.dockerignore

!server
server/*
!server/Dockerfile
!server/package.json
!server/package-lock.json
!server/tsconfig.json
!server/src
!server/src/**

!web
web/*
!web/Dockerfile
!web/package.json
!web/package-lock.json
!web/tsconfig.json
!web/nginx.conf
!web/src
!web/src/**
!web/scripts
!web/scripts/**

!assets
assets/*
!assets/creatures
assets/creatures/*
!assets/creatures/mobile
!assets/creatures/mobile/**

!production
production/*
!production/catalog
production/catalog/*
!production/catalog/creatures.json
